{% extends "web/base.html" %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static',filename='content/web/updatePwd.css') }}">
{% endblock %}

{% block title %}修改密码{% endblock %}
{% block mainContent %}
    <form class="form-horizontal" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="col-md-offset-2 col-md-8">
            <div class="form-group">
                <label for="newPassword" class="col-md-5 control-label">New Password:</label>
                <div class="col-md-7">
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="cnewPassword" class="col-md-5 control-label">Confirm new password:</label>
                <div class="col-md-7">
                    {{ form.password_again(class="form-control") }}
                    {% for error in form.password_again.errors %}
                    <span style="color: red;">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            <center class="operate-pwd">
                {{ form.submit(class="btn btn-primary") }}
                <button type="reset" class="btn btn-primary">Reset</button>
            </center>
        </div>
    </form>

{% endblock %}